/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {

    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 35px;
    }

    h3 {
        font-size: 30px;
    }

    h4 {
        font-size: 20px;
    }

    h5 {
        font-size: 16px;
    }

    h6 {
        font-size: 14px;
    }

    .single-contact-info .contact-img {
        display: none;
    }

    .footer-area .footer-top .widget .company-img {
        margin: 0 auto 20px auto;
    }

    .breadcrumb-section .course-info-box-2 h6::after {
        content: " ";
        margin: 0 10px;
    }

    .play-btn {
        background: var(--green);
        color: #ffffff;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: inline-block;
        text-align: center;
        line-height: 43px;
        margin-left: initial;
        margin-right: initial;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 22;
    }

    .instructor-info .course-info-box h6::after {
        content: ' ';
        margin: 0 10px;

    }

    .lms-sidebar {
        width: 250px;
    }

    #nav-icon2.open span:nth-child(5) {
        left: 5px;
        top: 12px;
    }

    #nav-icon2.open span:nth-child(6) {
        left: calc(50% - 5px);
        top: 12px;
    }

    #nav-icon2 {
        width: 30px;
    }

    #nav-icon2::after {
        top: -11px;
        left: -8px;
    }

    #nav-icon2 span {
        height: 3px;
    }

}

@media (max-width: 768px) {
    .footer-area .footer-top .widget .company-img {
        width: 60px;
    }

    .breadcrumb-section .title {
        color: var(--white);
        font-size: 36px;
    }

    .join-img {
        display: none;
    }

    .video-section .vec1 {
        display: none;
    }

    .video-section .vec2 {
        display: none;
    }

    .cat-text {
        display: none;
    }

    .vector1 {
        display: none;
    }

    .vector2 {
        display: none;
    }

    .vector3 {
        display: none;
    }

    .hero-section2 .hero2-shape {
        width: 100%;
    }
}

@media (max-width: 992px) {
    .logo-box .logo {
        width: 135px;
    }

    /* categories section */
    .cat-wrapper li:hover .sublist {
        opacity: 1;
        visibility: visible;
    }

    .header-cat-wrap .cat-text {
        display: none !important;
    }


    /* .all-course-section extended */
    .all-course-section.extended {
        margin-bottom: initial;
    }

    .reg-form {
        padding: 40px;
    }

    .filter-opt {
        display: none;
    }

    .filter-section .select-item {
        width: 100%;
        margin-top: 20px;
    }

    .video-section {
        padding: 90px 0px 140px 0;
    }

    .logo-box {
        margin-right: 27px;
    }

    .hero-section2 .main-hero-img2 {
        right: 28%;
        width: 41%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
    .header-cat-wrap .cat-text {
        display: none !important;
    }

    .logo-box {
        margin-right: 54px;
    }

    .btn-box .btn {
        margin-right: 0px;
    }

    .video-section {
        padding: 90px 0px 180px 0;
    }

    .single-sidebar-widget .course-img {
        width: 60px;
    }

    .hero-section2 .main-hero-img2 {
        right: 9%;

    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1600px) {
    .header-cat-wrap .cat-text {
        display: none !important;
    }

    .logo-box {
        margin-right: 20px;
    }

    .btn-box .btn {
        margin-right: 10px;
    }

    .btn {
        padding: 10px 15px;
    }

    .search-box .inputBox {
        padding: 10px 84px 10px 20px;
    }

    .video-section {
        padding: 90px 0px 210px 0;
    }

    .info-adrs .icon-img {
        margin-right: 10px;
        width: 30px;
    }

    .info-adrs .title {
        font-size: 14px;
    }

    .info-adrs .subtitle {
        font-size: 12px;
    }
}

@media (min-width: 1200px) and (max-width: 1919px) {
    .btn-box .btn {
        margin-top: 10px;
    }

    .info-adrs .icon-img {
        margin-bottom: 10px;
    }
}

/* larger device  */
@media (min-width: 992px) {
    #nav-icon2 {
        display: none;
    }
}