/**********************
   Home 1 styles 
 ***********************/
.vector1 {
	width: 200px;
	position: absolute;
	top: 35%;
	right: 0;
}

.vector2 {
	width: initial;
	position: absolute;
	top: 22%;
	z-index: -1;
}

.vector3 {
	width: initial;
	position: absolute;
	top: 22%;
	right: 0;
	z-index: -1;
}

/*  header part start  */
.header {
	padding: 40px;
}

.logo-box .logo {
	width: 200px;
}

.header-cat-wrap .cat-btn {
	background: var(--lite-black);
	width: 10px;
	display: inline-block;
	width: 33px;
	height: 33px;
	border-radius: 5px;
	text-align: center;
	line-height: 33px;
	color: var(--white);
	margin-right: 10px;
	cursor: pointer;
	margin-top: 5px;
}

.header-cat-wrap .cat-text {
	cursor: pointer;
}

.search-box .inputBox {
	width: 100%;
	border-radius: 30px;
	padding: 10px 120px 10px 20px;
	border: 1px solid var(--green);
}

.search-box .btn {
	position: absolute;
	top: 5px;
	right: 5px;
}

.info-adrs .icon-img {
	width: 45px;
	margin-right: 20px;
}

.info-adrs .title {
	color: var(--green);
	font-weight: 700;
	display: block;
	text-transform: capitalize;
}

.info-adrs .subtitle {
	color: val(--lite-black);
	display: block;
}

/* mobile sidebar  */


/* Icon 1 */
#nav-icon2 {
	width: 40px;
	position: absolute;
	top: 46px;
	z-index: 999;
	right: 20px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
}

#nav-icon2::after {
	content: '';
	width: 46px;
	height: 50px;
	border-radius: 5px;
	background-color: var(--green);
	position: absolute;
	top: -9px;
	left: -3px;
	z-index: -1;
}



/* Icon 2 */
#nav-icon2 span {
	display: block;
	position: absolute;
	height: 5px;
	width: 50%;
	background: var(--white);
	opacity: 1;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

#nav-icon2 span:nth-child(even) {
	left: 50%;
	border-radius: 0 9px 9px 0;
}

#nav-icon2 span:nth-child(odd) {
	left: 0px;
	border-radius: 9px 0 0 9px;
}

#nav-icon2 span:nth-child(1),
#nav-icon2 span:nth-child(2) {
	top: 0px;
}

#nav-icon2 span:nth-child(3),
#nav-icon2 span:nth-child(4) {
	top: 12px;
}

#nav-icon2 span:nth-child(5),
#nav-icon2 span:nth-child(6) {
	top: 25px;
}

#nav-icon2.open span:nth-child(1),
#nav-icon2.open span:nth-child(6) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2),
#nav-icon2.open span:nth-child(5) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
	left: 5px;
	top: 7px;
}

#nav-icon2.open span:nth-child(2) {
	left: calc(50% - 5px);
	top: 7px;
}

#nav-icon2.open span:nth-child(3) {
	left: -50%;
	opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
	left: 100%;
	opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
	left: 5px;
	top: 17px;
}

#nav-icon2.open span:nth-child(6) {
	left: calc(50% - 5px);
	top: 17px;
}

/* categories sidebar */
.lms-sidebar {
	position: fixed;
	height: 100%;
	z-index: 9999;
	top: 0;
	left: 0;
	width: 300px;
	background-color: var(--white);
	padding: 30px 20px;
	transition: .3s;
	transform: translateX(-100%);
	-webkit-box-shadow: 0 0 40px rgba(82, 85, 90, 0.1);
	-moz-box-shadow: 0 0 40px rgba(82, 85, 90, 0.1);
	box-shadow: 0 0 40px rgba(82, 85, 90, 0.1);
}

.lms-sidebar li {
	border-bottom: 1px solid var(--border-color);
}

.lms-sidebar li a {
	padding: 10px 0;
	display: block;
}

.lms-sidebar li:last-child {
	border-bottom: 1px solid transparent;

}

.lms-sidebar.open {
	transform: translateX(0);
}

.lms-categories li a {
	color: var(--lite-black);
}

.lms-categories li:hover>a {
	color: var(--green);
}

.lms-categories li.has-sublist {
	position: relative;
}

.lms-categories li.has-sublist::after {
	position: absolute;
	top: 7px;
	right: 0;
	content: '\f054';
	float: right;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 5px;
	text-align: center;
	border: 1px solid var(--green);
	color: var(--green);
}

.lms-categories li.has-sublist.changed::after {
	content: '\f078';
	background: var(--green);
	color: var(--white);
	border: 1px solid transparent;
}


.lms-categories li.has-sublist .sub-menu {
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	visibility: hidden;
	height: 0;
	opacity: 0;

}

.lms-categories li.has-sublist .sub-menu.active {
	height: auto;
	opacity: 1;
	visibility: visible;
}




/*  categoris menu  */
.header-cat-wrap ul li a {
	color: var(--lite-black);
	font-weight: 500;
	transition: .3s;
}

.header-cat-wrap ul li:hover>a {
	color: var(--green);
}

.dropdown-categories {
	position: absolute;
	left: 0;
	top: 48px;
	width: 320px;
	z-index: 1;
	background-color: var(--white);
	display: block;
	padding: 25px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	-webkit-box-shadow: 0 0 40px rgba(82, 85, 90, 0.1);
	-moz-box-shadow: 0 0 40px rgba(82, 85, 90, 0.1);
	box-shadow: 0 0 40px rgba(82, 85, 90, 0.1);
	opacity: 0;
	visibility: hidden;
	border: 1px solid var(--border-color);
}

.dropdown-categories::after {
	top: -10px;
	content: "";
	position: absolute;
	background-color: var(--white);
	left: 18px;
	width: 20px;
	height: 20px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	border-top: 1px solid rgba(127, 136, 151, 0.2);
	border-left: 1px solid rgba(127, 136, 151, 0.2);
}

.dropdown-categories li a {
	color: var(--lite-black)
}

.dropdown-categories li.has-sublist::after {
	content: '\f054';
	float: right;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
}

.dropdown-categories li.has-sublist:hover .sub-menu {
	opacity: 1;
	visibility: visible;
}

.dropdown-categories .sub-menu {
	position: absolute;
	left: 100%;
	top: 0;
	width: 320px;
	z-index: 1;
	background-color: var(--white);
	/* display: block; */
	padding: 25px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	-webkit-box-shadow: 0 0 40px rgba(82, 85, 90, 0.1);
	-moz-box-shadow: 0 0 40px rgba(82, 85, 90, 0.1);
	box-shadow: 0 0 40px rgba(82, 85, 90, 0.1);
	opacity: 0;
	visibility: hidden;
	border: 1px solid var(--border-color);
}

/* hover */
.header-cat-wrap ul li:hover .dropdown-categories {
	opacity: 1;
	visibility: visible;
}

/*  breadcrumb section */
.breadcrumb-section {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 50px 0;
}

.breadcrumb-section.hero-section {
	padding: 130px 0 140px 0;
}

.breadcrumb-section .breadcrumb {
	background: transparent;
	color: var(--white);
}

.breadcrumb-section .breadcrumb .breadcrumb-item a,
.breadcrumb-item.active {
	color: var(--white);
}

.breadcrumb-section .title {
	color: var(--white);
}

.breadcrumb-item+.breadcrumb-item::before {
	color: var(--white);
	content: "-";
}

.breadcrumb {
	padding: 0;
}

/*  filter section */
.filter-section {
	padding: 50px 60px;
	background: var(--lite-green);
	border-radius: 30px;
	position: relative;
	margin-top: -60px;
}

.filter-section .select-item {
	background: var(--white);
	height: 40px;
	padding: 0 15px;
	width: 18%;
	height: 30px;
	line-height: 30px;
	position: relative;
	z-index: 99;
}

.filter-opt {
	background: var(--green);
	padding: 2px 5px;
	border-radius: 5px;
	color: var(--white);
	cursor: pointer;
}

.filter-section .vec1 {
	width: 100px;
	position: absolute;
	top: 20px;
	right: 0;
}

.filter-section .vec2 {
	width: 200px;
	position: absolute;
	top: 0;
	left: 0;
	opacity: .7;
}

.filter-section .select-item {
	border-radius: 5px;
	background-color: var(--white);
	border: none;
}

.BG_Shape {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1920px;
	height: 2626px;
	z-index: 410;
}

/* courses-section */
.single-course {
	border-radius: 20px;
	border: 1px solid var(--border-color);
	padding: 10px;
	position: relative;
	background: var(--white);
	transition: .3s;
}

.single-course:hover {
	border-radius: 20px;
	border: 1px solid transparent;
	padding: 10px;
	position: relative;
	background: var(--white);
	box-shadow: 0px 0px 30px 0px rgba(0, 21, 100, 0.1);
}

.single-course .tag {
	position: absolute;
	top: 30px;
	left: 30px;
	padding: 1px 15px;
	border-radius: 5px;
	text-transform: capitalize;
	font-size: 14px;
}

.single-course .heart {
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 50%;
	position: absolute;
	top: 30px;
	right: 30px;
}

.single-course .user-img {
	width: 40px;
}

.single-course .rating {
	border-radius: 5px;
	font-weight: 700;
}

.single-course .course-info-box h6::after {
	content: '|';
	color: var(--lite-red);
	margin-left: 20px;
}

.single-course .progress {
	position: relative;
	overflow: visible;
	height: 5px;
}

.single-course .progress-bar {
	height: 5px;
}

.single-course .percentage {
	position: absolute;
	top: -26px;
	color: white;
	left: 75%;
	border-radius: 2px;
	padding: 2px;
	font-size: 10px;
}

.single-course h6 {
	font-weight: 500;
}

/*   contact-info-section */
.contact-info-section {
	margin-bottom: -70px;
	position: relative;
	z-index: 11;
}

.single-contact-info {
	padding: 30px;
	border-radius: 30px;
	position: relative;
	overflow: hidden;

}

.single-contact-info .contact-vec {
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
}

.single-contact-info .title {
	font-size: 30px;
	display: block;
	font-weight: 500;
	text-transform: capitalize;
}

.single-contact-info .des {
	font-size: 16px;
	display: block;
	font-weight: 500;
	text-transform: capitalize;
}

.single-contact-info .contact-img {
	position: absolute;
	bottom: -40px;
	right: 0;
	width: initial;
}

/*  Footer Section */
.footer-area {
	background: var(--soft-green);
	padding: 120px 0 50px 0;
	position: relative;
	padding-top: 180px;
	overflow: hidden;

}

.footer-vec11 {
	position: absolute;
	bottom: 0;
	right: 0;
	width: initial;
}

.roll-vec {
	position: absolute;
	top: 50%;
	left: 10%;
	width: 30px;
}

.footer-area .footer-top .widget .social-icons a {
	margin-right: 10px;
}

.footer-area .footer-top .widget {
	margin-bottom: 30px;
}

.footer-area .footer-top .widget .company-img {
	margin-right: 10px;
	width: 70px;
}

@media (max-width: 575.98px) {
	.footer-area .footer-top .widget {
		text-align: center;
	}
}

.footer-area .footer-top .widget .logo {
	margin-bottom: 20px;
}

.footer-area .footer-top .widget .logo img {
	width: 160px;
}

@media (max-width: 575.98px) {
	.footer-area .footer-top .widget .logo img {
		margin: 0 auto;
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.footer-area .footer-top .widget .logo img {
		width: 120px;
	}
}

@media (max-width: 767px) {
	.footer-area .footer-top .widget .logo img {
		width: 120px;
	}
}

.footer-area .footer-top .widget ul li {
	line-height: 2;
}

.footer-area .footer-top .widget ul li a {
	text-transform: capitalize;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: var(--lite-black);
}

/* social icons */
.social-icons .fb {
	color: #3b5998;
}

.social-icons .tw {
	color: #1da1f2;
}

.social-icons .in {
	color: #8d6cab;
}

.social-icons .ins {
	color: #7188eb;
}

/* copyright select option */
.copyright .currency {
	margin-right: 10px;
	border: 1px solid var(--green);
	border-radius: 5px;
	color: var(--green);
}

.copyright .select-item {
	text-transform: capitalize;
	padding: 10px 30px;
}

.copyright .select-item .list {
	background: var(--green);
	color: var(--white);
}

.copyright .select-item .list li:hover {
	background: var(--green);
	color: var(--white);
}

.copyright .language {
	background: var(--green);
	color: var(--white);
	border-radius: 30px;
	border: none;
	appearance: none;
	position: relative;
}

.copyright .language::after {
	content: '/';
	position: absolute;
	top: 0;
	right: 0;
}

.copyright .language option {
	border: 1px solid var(--green);
	background: var(--white);
	color: var(--lite-black);

}

.copyright .nice-select .option:hover,
.nice-select .option.focus,
.nice-select .option.selected.focus {
	background: var(--green);
}




/*********************************************************
  				categoris page
 **********************************************************/

/* title bar */
.sub-headline {
	border-radius: 30px;
	padding: 2px 50px;
	font-size: 16px;
	background: #d5fdd9;
	text-align: center;
}


/*  all-course-section  */
.single-cat {
	border: 1px solid var(--border-color);
	border-radius: 20px;
	text-align: center;
	padding: 20px 18px;
	background: var(--white);
	transition: .3s;
}

.single-cat .enroll-btn {
	width: 120px;
	border-radius: 30px;
	text-transform: capitalize;
	opacity: 0;
	visibility: hidden;
	transition: .3s;
}

.single-cat:hover {
	box-shadow: 0px 25px 60px 0px rgba(0, 21, 100, 0.1);
	border: 1px solid transparent;
}

.single-cat:hover .enroll-btn {

	/* height: auto; */
	opacity: 1;
	visibility: visible;

}


.single-cat .img-icon {
	width: 70px;
	margin: 0 auto;
}


/* counter section */
.counter-section {
	background: var(--lite-green);
}

.single-counter {
	position: relative;
	background: var(--white);
	border-radius: 20px;
	padding: 40px 20px 40px 60px;
	width: 250px;
}

.single-counter .counter-img {
	width: 70px;
	position: absolute;
	top: 50%;
	left: -25px;
	transform: translateY(-50%);

}

/* join section */
.join-section {
	padding: 120px 40px;
	border-radius: 30px;
	position: relative;
}

.join-section .join-img {
	width: initial;
	position: absolute;
	bottom: -40px;
	right: 70px;
}

/* video section */
.video-section {
	margin-top: initial;
	padding: 90px 0px 231px 0;
}

.video-section .vec1 {
	top: 0;
	width: initial;
}

.video-section .vec2 {
	top: 0;
	width: initial;
}

.video-cont {
	position: relative;
	z-index: 11;
	margin-top: -16%;
}


.play-btn {
	background: var(--green);
	color: #ffffff;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	display: inline-block;
	text-align: center;
	line-height: 55px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 22;
}

/* single packages */
.single-package .badge {
	position: absolute;
	top: 20px;
	left: 30px;
}

.single-cat .img-icon {
	width: 140px;
	margin: 0 auto;
}


/**********************
  single categories page
 ***********************/
.breadcrumb-section .course-info-box-2 .user-img {
	width: 40px;
}

.breadcrumb-section .course-info-box-2 h6::after {
	content: "|";
	margin: 0 10px;
}

.breadcrumb-section .video-cont {
	position: relative;
	z-index: 11;
	margin-top: initial;
}


/* curriculam accordion */
.accordion-wrapper .card {
	margin-bottom: 20px;
	background-color: var(--white);
	border: 1px solid transparent;
}

.accordion-wrapper .card .card-header {
	border: none;
	padding: 0;
	border-radius: 5px;
}

.accordion-wrapper .card .card-header h6 {
	margin-bottom: 0;
}

.accordion-wrapper .card .card-header h6 a {
	padding: 15px 35px 15px 40px;
	display: block;
	cursor: pointer;
	position: relative;
	color: #0b114a;
}

.accordion-wrapper .card .card-header h6.title-tag a.collapsed::after {
	content: "\f077";
}

.accordion-wrapper .card .card-header h6.title-tag a::after {
	content: "\f078";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	position: absolute;
	left: 15px;
	top: 50%;
	font-size: 10px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	color: var(--lite-black);

}

.accordion-wrapper .card .card-body {
	border-radius: 5px;
	padding-top: 0;
}

.accordion-wrapper .card .card-body p {
	margin: 0;
}

.accordion-wrapper .card ul li {
	line-height: 2.7;
}

/* cate-content */
.cate-content .quation {
	background-color: var(--lite-green);
	padding: 40px 30px;
	border-radius: 20px;
}

.cate-content .quation {
	background-color: var(--lite-green);
	padding: 40px 30px;
	border-radius: 20px;
}

.q-vec {
	width: 100px;
	position: absolute;
	top: 0;
	right: 0;
}

.cate-content .quation q {
	font-weight: 700;
	font-size: 18px;

}

.single-req {
	border: 1px solid var(--green);
	border-radius: 10px;
	padding: 20px;
	background: var(--white);
	transition: .3s;
}

.single-req .img-box img {
	width: 40px;
}

.single-req:hover {
	border: 1px solid transparent;
	box-shadow: 0px 25px 60px 0px rgba(0, 21, 100, 0.1);
}

/* instructor info */
.instructor-info {
	padding: 30px;
	border-radius: 20px;
}

.instructor-info .user-img {
	width: 50px;
}

.instructor-info .img-vec {
	position: absolute;
	top: 0;
	right: 0;
	width: 150px;
}

.instructor-info .course-info-box h6::after {
	content: '|';
	color: var(--green);
	margin: 0 20px;
}

/* single-sidebar-widget */
.single-sidebar-widget {
	padding: 30px;
	border-radius: 20px;
	background-color: var(--soft-green);
	overflow: hidden;
}

.single-sidebar-widget .wid-vec {
	width: 50px;
	position: absolute;
	top: 0;
	right: 0;
}

.single-sidebar-widget ul li {
	border-bottom: 1px solid var(--border-color);
	line-height: 2.7;
}

.single-sidebar-widget ul li:last-child {
	border-bottom: none;
}

.single-sidebar-widget .course-img {
	width: 100px;
}

.single-sidebar-widget .sub-title {
	font-size: 14px;
}

/* .all-course-section extended */
.all-course-section.extended {
	margin-bottom: -150px;
}

/* reg-form */
.reg-form {
	border: 1px solid var(--border-color);
	padding: 260px 40px 40px 40px;
	border-radius: 20px;
}

.reg-form .form-control {
	position: relative;
	padding: 25px 40px;
	border: 2px solid var(--border-color);
	border-radius: 5px;
}

.reg-form label {
	text-transform: capitalize;
	font-weight: 700;
}

.reg-form .form-group .icon {
	position: absolute;
	top: 48px;
	left: 30px;
	color: var(--border-color);
}

/* login form */
.reg-form.login-form .form-group {
	position: relative;
}

.reg-form.login-form .form-group .icon {
	left: 16px;

}

.reg-form.login-form {
	border: none;
	padding: 0;
}

/**********************
   Home 2 styles 
 ***********************/
.breadcrumb-section.hero-section2 {
	padding: 28px 0 100px 0;
	position: relative;
}

.hero-section2 .hero-vec1 {
	position: absolute;
	top: 0;
	left: 0;
	width: initial;
}

.hero-section2 .hero-vec2 {
	position: absolute;
	top: 0;
	right: 0;
	width: initial;
}

.hero-section2 .hero2-shape {
	width: initial;
}

.hero-section2 .main-hero-img2 {
	position: absolute;
	top: 18%;
	right: 19%;
	width: 55%;
	z-index: 11;
}

.course-section2 {
	position: relative;

}

.course-section2 .course-vec {
	width: initial;
	position: absolute;
	top: 40%;
	left: 0;

}

/*  how we work*/
.how-we-work-wrap {
	background: #429b85;
	background: -moz-linear-gradient(-45deg, #429b85 0, #5f7b8c 100%);
	background: -webkit-linear-gradient(-45deg, #429b85 0, #5f7b8c 100%);
	background: linear-gradient(135deg, #429b85 0, #5f7b8c 100%);
	margin-top: -30px;
	padding: 30px 0;
	position: relative;
	overflow: hidden;
	color: var(--white);
}

.how-we-work-wrap .icon-element {
	font-size: 30px;
	width: 55px;
	height: 55px;
	line-height: 55px;
	text-align: center;
	border-radius: 50%;
	color: #fff;
	background-color: rgba(255, 255, 255, 0.1);
}

/* popular categories 2 */
.popular-categories2 .pp-vec {
	width: initial;
	transform: translateY(-50%);
	position: absolute;
	top: 50%;
	right: 0;
}

.popular-categories2 {
	border-radius: 30px;
}

.single-counter2 {
	display: flex;
	align-items: center;
	padding: 40px 20px 40px 30px;
}

.single-counter2 .counter-img {
	width: 70px;
	position: absolute;
	top: 55%;
	left: -32px;
	transform: translateY(-50%);
}

/* filter-course section */
.course-filter-section .filter-btn {
	font-weight: 500;
	padding: 8px 20px;
	background: var(--lite-green);
	color: var(--green);
	border-radius: 10px;
	transition: .3s;
	text-transform: capitalize;
	border: 1px solid transparent;

}

.course-filter-section .filter-btn.active {
	color: var(--white);
	background: var(--green);

}

.course-filter-section .filter-btn:hover {
	color: var(--white);
	background: var(--green);

}

/* single-package2 */
.single-package2 {
	text-align: left;
}

.single-package2 {
	padding: 30px 20px 50px;
}

.single-package2 .badge {
	right: 30px;
	left: initial;
}

.single-package2 h4 {
	font-weight: 900;
}

.single-package2 .img-icon {
	width: 80px;
	margin: initial;
}

/*  all-course-section2 */
.all-course-section2 .course-vec1 {
	width: initial;
	position: absolute;
	top: 0;
	left: 0;
}

.all-course-section2 .course-vec2 {
	width: initial;
	position: absolute;
	top: 0;
	right: 0;
}

/* filter-section2 */
.filter-section2 {
	background: var(--white);
}

.filter-section2 {
	padding: 120px 0px 90px 0;

}

.filter-section2 .video-cont {
	margin-top: initial;

}

/* single-counter3 */
.counter-section-3 {
	margin-top: -9%;
	position: relative;
	z-index: 11;
}

.single-counter3 {
	border: 1px solid var(--border-color);
	background: var(--white);
}

/* single-contact-info2 */
.single-contact-info2 {
	padding: 40px;
	border-radius: 30px 30px 0px 30px;
	text-align: center;
}

.single-contact-info2.extended {
	border-radius: 30px 30px 30px 0px;
}

.single-contact-info2 .img-item {
	width: 60px;
}